.loader {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: system-ui;
    font-weight: 500;
    font-size: 20px;
    
    color: rgba(0, 0, 0, 0.9);
    
    
    .ant-space {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding-top: 8px;
    }

    
  
    
  }